{% extends 'reusable/base.html' %}
{% block title %}{{ fname }}'s Watchlist{% endblock %}
{% block content %}
{% include 'reusable/top_right_links.html' %}
<div class="container">
    <h1>{{ fname }}'s Watchlist</h1>
    <form class="d-flex" action="{% url 'my_watchlist' %}" method="POST">
            {% csrf_token %}
            <input style="width: 100%; border-radius: 5px; padding: 8px 10px; border: 1px solid #ccc; font-size: 16px; background-color: #F0F2F6;" class="form-control me-2" type="search" placeholder="Add a Ticker to your Watchlist" aria-label="Search" name="ticker">
            <button class="btn btn-outline-secondary" style="font-size: 13px; z-index: 9999;" type="submit">Add Stock Quote</button>
    </form>
</div>
<div class="container table-container">
    <table class="table table-dark table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">Company Name</th>
                <th scope="col">Current Price</th>
                <th scope="col">Previous Close</th>
                <th scope="col">Market Cap</th>
                <th scope="col">YTD Change</th>
                <th scope="col">52 Week High</th>
                <th scope="col">52 Week Low</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
        {% if ticker %}
            {% for item in output %}
                <tr>
                    <th scope="row">{{ item.companyName }}</th>
                    <td>${{ item.latestPrice }}</td>
                    <td>${{ item.previousClose }}</td>
                    <td>${{ item.marketCap }}</td>
                    <td>{{ item.ytdChange|floatformat:2 }}%</td>
                    <td>${{ item.week52High }}</td>
                    <td>${{ item.week52Low }}</td>
                    <td>
                        <a style="font-size: 10px; display: inline-block; padding: 6px 12px; margin-bottom: 0; font-weight: 400; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; border: 1px solid transparent; border-radius: 4px; text-decoration: none; color: #fff; background-color: #d9534f; border-color: #d9534f; transition: background-color 0.3s ease;" class="btn btn-sm btn-danger" href="{% url 'delete' item.pk %}"> X </a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="8" style="text-align: center; vertical-align: middle; padding:20px;">No ticker added yet!</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
