body {
    background-color: #d5d0d1; 
    font-family: sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;
    overflow-y: hidden;
}

.container {
    width: 700px;
    text-align: left;
    padding: 10px 15px;
    background-color: #fafbfc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.header {
    display: flex; 
    align-items: center;
    justify-content: center; 
    margin-bottom: 6px;
}

.header img {
    max-width: 60px; 
    margin-right: 20px; 
    transition: max-width 0.3s ease, transform 0.3s ease; 
}

.header img:hover {
    max-width: 40px; 
    transform: rotate(360deg); 
}

h3 {
    font-size: x-large;
    text-align: center;
    padding-top: 4px;
    color: #FF4B4B;
}

h3 span {
    font-size:x-large;
    padding-top: 10px;
    color: #31333F;
}

.form-group {
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    flex-direction: row; 
    margin-bottom: 10px;
}

.col{
    flex:1;
    margin-right: 14px;
}

label {
    font-weight: bold;
    color: #31333f;
}

input.form-control {
    margin-top: .2rem;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 97%;
} 

.btn.btn-primary {
    margin: 10px 0px;
    border-radius: 8px;
    color: #f8f9fa;
    padding: 8px 10px;
    background-color: #FF4B4B;
    border: none;
    width: 100%;
    font-weight: 700;
    margin-top: .2rem;
}

.btn.btn-primary:hover {
    letter-spacing: 3px;
    color: #31333F;
    transition: 300ms;
}

.alert {
    margin-top: 20px;
}

.signinlink{
    color: #31333F;
    margin-top: 0.5rem;
    font-size: 13px;
    text-decoration: none;
}

.signinlink span{
    margin: 4px 0px;
    text-decoration: underline;
    font-size: 13px;
    padding: 10px 0px;
}

#message-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999; 
    text-align: center;
    padding: 10px;
    background-color: #31333f; 
    color: #fff; 
    display: none; 
}

#message-container .alert {
    margin: 0;
    padding: 0;
}

#message-container.show {
    display: block;
}

.close {
    font-size: 20px; 
    font-weight: bold; 
    opacity: 0.7; 
    color: #fff; 
    background-color: transparent; 
    border: none; 
    outline: none; 
    cursor: pointer; 
    transition: opacity 0.2s ease-in-out; 
}

.close:hover {
    opacity: 1; 
}

@media screen and (max-width: 768px) {
    input.form-control {
        width: 93%;
    }
}