
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --brandTheme: #FF4B4B;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

  --sidebar-width: 300px;

  --large-heading: 34px;
  --medium-heading: 24px;
  --small-text: 14px;

  --mdscreen-large-heading: 18px;
  --mdscreen-medium-heading: 16px;
  --mdscreen-small-text: 11px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #31333f; 
}

.body{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  background: #fafbfc;
  flex: 1;
}

.main {
  margin-left: var(--sidebar-width);
  min-height: 100vh;
  padding: 1.5rem;
  transition: width 0.3s, margin-left 0.3s ease;
}

.main-content {
  overflow-y: auto;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  height: 100%; 
  padding: 1.5rem;
}

.container {
  margin-top: 1.5rem;
  width: 100%;
  max-width: 940px; 
  text-align: left;
  padding: 1rem 1.5rem; 
  background-color: #fafbfc; 
  border-radius: 1rem; 
  box-shadow: var(--box-shadow); 
}

h1 {
  font-size: 34px;
  color: #31333f; 
  padding: 0;
}

.container h2 {
  margin-bottom: 10px;
  font-size: var(--medium-heading);
}

.container form {
  margin-bottom: 0%; 
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items: center;
}

.container table {
  margin-top: 10px; 
  font-size: var(--small-text);
}

.container .ticker-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  }
  
.form-group {
  flex: 1;
  margin-right: 10px;
}
  
.form-group label {
  font-weight: bold;
  color: #555;
}

input[type="text"] {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #ccc;
  font-size: var(--small-text);
  background-color: #F0F2F6;
  border-radius: 5px;
}

input[type="text"]:focus {
  border-color: var(--brandTheme);
}
  
button[type="submit"] {
  margin-top: 1.9rem;
  padding: 10px 20px; 
  background-color: var(--brandTheme);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: var(--small-text);
  cursor: pointer;
  display: none;
}
  
button[type="submit"]:hover {
  background-color: var(--brandTheme);
}

label {
  display: grid;
  font-weight: bold;
  margin-bottom: 10px;
  color: #555;
}

.table-container {
  overflow-x: hidden; 
}

.table-wrapper {
  max-width: 100%;
  overflow: auto;
}

.container table {
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px; 
  overflow: hidden; 
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: var(--brandTheme);
  color: white;
}  

.bullet-points {
  list-style-type: disc;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px; 
  font-size: var(--small-text);
  color: #555; 
}

.glossary-list {
  list-style: none;
  padding: 0;
}

.glossary-list li {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow:var(--box-shadow);
}

.glossary-list h3 {
  color: #333;
  margin: 0 0 10px;
}

.glossary-list p {
  font-size: var(--small-text);
  color: #666;
  margin: 0;
}

@media (max-width: 768px) {
  * {
    font-size: var(--mdscreen-small-text); 
  }

  .container h2 {
    font-size: var(--mdscreen-medium-heading); 
  }

  .table-container {
    overflow-x: auto; 
  }

  .main {
    margin-left: 0;
    width: 100%; 
  }

  .main h1 {
    padding-top: 12px;
    font-size: var(--mdscreen-large-heading);
  }
}

/* Error Messages */

.error-message-container {
  position: relative;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6b6b;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.plot-error-message-container {
  position: relative;
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6b6b;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.error-message {
  margin: 0;
  font-size: var(--small-text);
  font-weight: 500;
  color: #fff;
}

/* Top Right Links */

 .top-right-links {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.top-right-links a {
  text-decoration: none;
  color: #333;
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
  display: flex; 
  align-items: center; 
  font-size: var(--small-text);
}

.top-right-links a i {
  margin-right: 5px; 
}

.top-right-links a:hover {
  background-color: #ddd;
}