@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #31333f; 
  }

header {
    background-color: #ff6b6b;
    color: #fff; 
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 32px; 
    font-weight: 600;
}

.icon-text {
    margin-left: 4px; 
}

input[type="text"] {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #F0F2F6;
    border-radius: 5px;
}

footer {
    background-color: #333; 
    color: #fff; 
    padding: 10px; 
    text-align: center; 
}
  
footer p {
    margin: 0; 
    color: #fff; 
}

#return-to-home {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#return-to-home i {
    margin-right: 5px;
}

.search-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .search-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .faq-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .faq {
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
  }
  
  .question {
    background-color: #f8f8f8;
    padding: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .question:hover {
    background-color: #e8e8e8;
  }
  
  .answer {
    padding: 20px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    display: none;
    transition: display 0.3s ease;
    line-height: 1.5;
  }
  
  .faq.active {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  }
  
  